@media screen and (min-width : 240px) {
    body {
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
        /*align-content: center;*/
        align-items: center;
        width: 100%;
    }
    .hidden-on-desktop {
        width: 90%;
        background-color: lightblue;
        padding: 1em;
        border: solid 1px grey;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        padding: 1em;
        width: 300px;
    }

    ul  {
        list-style-type: none;
    }
    li{
        background-color: grey;
        margin: 10px ;
        padding: 1em;
        width: 100%;
        align-self: center;
    }
}